[mysqld]
port=3306
max_connections=200
character-set-server=utf8mb4
default-storage-engine=INNODB
explicit_defaults_for_timestamp=true
default-time-zone='+08:00'
lower_case_table_names=1
group_concat_max_len=10240
skip-host-cache
skip-name-resolve
[mysqldump]
quick
quote-names
max_allowed_packet=16M
