[mysqld]
port=3306
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
symbolic-links=0
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
max_connections=200
character-set-server=utf8mb4
default-storage-engine=INNODB
explicit_defaults_for_timestamp=true
skip-grant-tables
default-time-zone='+08:00'
lower_case_table_names=1
group_concat_max_len=10240
