<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<meta charset="UTF-8" />
<head>
    <title>登陆页面</title>
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/basevalue.js}"></script>
</head>
<body>
<div><label> 账号: <input type="text" id="username"/> </label></div>
<div><label> 密码: <input type="password" id="password"/> </label></div>
<div><input type="button" value="登陆" onclick="login();"/></div>
<script type="text/javascript">
    function login() {
        var username = $("#username").val();
        var password = $("#password").val();
        $.ajax({
            url: "/demo/login",
            type: "post",
            data: {
                username: username,
                password: password
            },
            datatype: "json",
            success: function(data) {
                var token = data.data.token;
                console.log("token: "+token);
                localStorage.setItem(storage_token_key, token);
                location.href = "/demo/ws";
            },
            error: function(xhr, msg, e) {
                alert(xhr.responseJSON.message);
            }
        });
    }
</script>
</body>
</html>
