<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.AttachmentMapper">

    <sql id="baseCol">
        t_attachment.id t_attachment_id, t_attachment.attachment_name t_attachment_attachment_name,
        t_attachment.attachment_address t_attachment_attachment_address, t_attachment.attachment_path t_attachment_attachment_path
    </sql>

    <resultMap id="baseResultMap" type="com.example.model.po.Attachment">
        <id column="t_attachment_id" property="id" />
        <result column="t_attachment_attachment_name" property="attachmentName" />
        <result column="t_attachment_attachment_address" property="attachmentAddress" />
        <result column="t_attachment_attachment_path" property="attachmentPath" />
    </resultMap>

</mapper>
