<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.JobMapper">

    <sql id="baseCol">
        t_job.id t_job_id, t_job.job_desc t_job_job_desc, t_job.start_time t_job_start_time,
        t_job.end_time t_job_end_time, t_job.cron_expression t_job_cron_expression,
        t_job.job_template_id t_job_job_template_id, t_job.sched_name t_job_sched_name,
        t_job.job_name t_job_job_name, t_job.job_group t_job_job_group,
        t_job.trigger_name t_job_trigger_name, t_job.trigger_group t_job_trigger_group
    </sql>

    <sql id="triggerCol">
        qrtz_triggers.trigger_state qrtz_triggers_trigger_state,
        qrtz_triggers.next_fire_time qrtz_triggers_next_fire_time,
        qrtz_triggers.prev_fire_time qrtz_triggers_prev_fire_time
    </sql>

    <resultMap id="baseResultMap" type="com.example.model.po.Job">
        <id column="t_job_id" property="id" />
        <result column="t_job_job_desc" property="jobDesc" />
        <result column="t_job_start_time" property="startTime" />
        <result column="t_job_end_time" property="endTime" />
        <result column="t_job_cron_expression" property="cronExpression" />
        <result column="t_job_job_template_id" property="jobTemplateId" />
        <result column="t_job_sched_name" property="schedName" />
        <result column="t_job_job_name" property="jobName" />
        <result column="t_job_job_group" property="jobGroup" />
        <result column="t_job_trigger_name" property="triggerName" />
        <result column="t_job_trigger_group" property="triggerGroup" />
        <result column="qrtz_triggers_trigger_state" property="triggerState" />
        <result column="qrtz_triggers_next_fire_time" property="nextTime" />
        <result column="qrtz_triggers_prev_fire_time" property="prevTime" />
    </resultMap>

    <resultMap id="resultMap" type="com.example.model.po.Job" extends="baseResultMap">
        <association column="t_job_job_template_id" property="jobTemplate" resultMap="com.example.mapper.JobTemplateMapper.baseResultMap" />
        <collection column="t_job_id" property="parameters" resultMap="com.example.mapper.JobParameterMapper.baseResultMap" />
    </resultMap>

    <select id="customSelectPage" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="triggerCol" />,
               <include refid="com.example.mapper.JobTemplateMapper.baseCol" />
        from t_job t_job
        left join qrtz_triggers qrtz_triggers on qrtz_triggers.sched_name = t_job.sched_name and qrtz_triggers.trigger_name = t_job.trigger_name and qrtz_triggers.trigger_group = t_job.trigger_group
        left join t_job_template t_job_template on t_job_template.id = t_job.job_template_id
        <where>
            <if test=" params.entity.jobDesc != null and params.entity.jobDesc != ''.toString() ">
                and instr(t_job.job_desc, #{params.entity.jobDesc}) > 0
            </if>
            <if test=" params.entity.triggerState != null and params.entity.triggerState != ''.toString() ">
                and qrtz_triggers.trigger_state = #{params.entity.triggerState}
            </if>
            <if test=" params.entity.jobTemplateId != null ">
                and t_job.job_template_id = #{params.entity.jobTemplateId}
            </if>
        </where>
        order by t_job.start_time desc
    </select>

    <select id="customSelectById" parameterType="int" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="triggerCol" />,
               <include refid="com.example.mapper.JobTemplateMapper.baseCol" />,
               <include refid="com.example.mapper.JobParameterMapper.baseCol" />
        from t_job t_job
        left join qrtz_triggers qrtz_triggers on qrtz_triggers.sched_name = t_job.sched_name and qrtz_triggers.trigger_name = t_job.trigger_name and qrtz_triggers.trigger_group = t_job.trigger_group
        left join t_job_template t_job_template on t_job_template.id = t_job.job_template_id
        left join t_job_parameter t_job_parameter on t_job_parameter.job_id = t_job.id
        where t_job.id = #{id}
    </select>

</mapper>
