<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzixi.demo.mapper.JobTemplateMapper">

    <sql id="baseCol">
        t_job_template.id t_job_template_id, t_job_template.job_name t_job_template_job_name,
        t_job_template.job_class_name t_job_template_job_class_name, t_job_template.job_desc t_job_template_job_desc,
        t_job_template.create_time t_job_template_create_time
    </sql>

    <resultMap id="baseResultMap" type="com.xzixi.demo.model.po.JobTemplate">
        <id column="t_job_template_id" property="id" />
        <result column="t_job_template_job_name" property="jobName" />
        <result column="t_job_template_job_class_name" property="jobClassName" />
        <result column="t_job_template_job_desc" property="jobDesc" />
        <result column="t_job_template_create_time" property="createTime" />
    </resultMap>

    <resultMap id="resultMap" type="com.xzixi.demo.model.po.JobTemplate" extends="baseResultMap">
        <collection column="t_job_template_id" property="parameters" resultMap="com.xzixi.demo.mapper.JobTemplateParameterMapper.baseResultMap" />
    </resultMap>

    <select id="customSelectList" parameterType="com.xzixi.demo.params.Params" resultMap="resultMap">
        select <include refid="baseCol" />
        from t_job_template t_job_template
        <where>
            <if test=" params.entity.jobName != null and params.entity.jobName != ''.toString() ">
                and instr(t_job_template.job_name, #{params.entity.jobName}) > 0
            </if>
            <if test=" params.entity.jobClassName != null and params.entity.jobClassName != ''.toString() ">
                and instr(t_job_template.job_class_name, #{params.entity.jobClassName}) > 0
            </if>
            <if test=" params.entity.jobDesc != null and params.entity.jobDesc != ''.toString() ">
                and instr(t_job_template.job_desc, #{params.entity.jobDesc}) > 0
            </if>
        </where>
        order by t_job_template.create_time desc
    </select>

    <select id="customSelectPage" resultMap="resultMap">
        select <include refid="baseCol" />
        from t_job_template t_job_template
        <where>
            <if test=" params.entity.jobName != null and params.entity.jobName != ''.toString() ">
                and instr(t_job_template.job_name, #{params.entity.jobName}) > 0
            </if>
            <if test=" params.entity.jobClassName != null and params.entity.jobClassName != ''.toString() ">
                and instr(t_job_template.job_class_name, #{params.entity.jobClassName}) > 0
            </if>
            <if test=" params.entity.jobDesc != null and params.entity.jobDesc != ''.toString() ">
                and instr(t_job_template.job_desc, #{params.entity.jobDesc}) > 0
            </if>
        </where>
        order by t_job_template.create_time desc
    </select>

    <select id="customSelectById" parameterType="int" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.xzixi.demo.mapper.JobTemplateParameterMapper.baseCol" />
        from t_job_template t_job_template
        left join t_job_template_parameter t_job_template_parameter on t_job_template_parameter.job_template_id = t_job_template.id
        where t_job_template.id = #{id}
    </select>

</mapper>
