<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.MailMapper">

    <sql id="baseCol">
        t_mail.id t_mail_id, t_mail.mail_subject t_mail_mail_subject,
        t_mail.mail_type t_mail_mail_type, t_mail.mail_status t_mail_mail_status,
        t_mail.create_time t_mail_create_time, t_mail.send_time t_mail_send_time,
        t_mail.send_user_id t_mail_send_user_id
    </sql>

    <resultMap id="baseResultMap" type="com.example.model.po.Mail">
        <id column="t_mail_id" property="id" />
        <result column="t_mail_mail_subject" property="mailSubject" />
        <result column="t_mail_mail_type" property="mailType" />
        <result column="t_mail_mail_status" property="mailStatus" />
        <result column="t_mail_create_time" property="createTime" />
        <result column="t_mail_send_time" property="sendTime" />
        <result column="t_mail_send_user_id" property="sendUserId" />
        <result column="t_mail_to_users_info" property="toUsersInfo" />
    </resultMap>

    <sql id="sendUserCol">
        send_user.id send_user_id, send_user.username send_user_username, send_user.password send_user_password,
        send_user.email send_user_emial, send_user.nickname send_user_nickname, send_user.birth send_user_birth,
        send_user.logintime send_user_logintime, send_user.dept_id send_user_dept_id
    </sql>

    <resultMap id="sendUserResultMap" type="com.example.model.po.User">
        <id column="send_user_id" property="id" />
        <result column="send_user_username" property="username" />
        <result column="send_user_password" property="password" />
        <result column="send_user_email" property="email" />
        <result column="send_user_nickname" property="nickname" />
        <result column="send_user_birth" property="birth" />
        <result column="send_user_logintime" property="logintime" />
        <result column="send_user_dept_id" property="deptId" />
    </resultMap>

    <sql id="toUserCol">
        to_user.id to_user_id, to_user.username to_user_username, to_user.password to_user_password,
        to_user.email to_user_email, to_user.nickname to_user_nickname, to_user.birth to_user_birth,
        to_user.logintime to_user_logintime, to_user.dept_id to_user_dept_id
    </sql>

    <resultMap id="toUserResultMap" type="com.example.model.po.User">
        <id column="to_user_id" property="id" />
        <result column="to_user_username" property="username" />
        <result column="to_user_password" property="password" />
        <result column="to_user_email" property="email" />
        <result column="to_user_nickname" property="nickname" />
        <result column="to_user_birth" property="birth" />
        <result column="to_user_logintime" property="logintime" />
        <result column="to_user_dept_id" property="deptId" />
    </resultMap>

    <resultMap id="resultMap" type="com.example.model.po.Mail" extends="baseResultMap">
        <association column="t_mail_id" property="mailContent" resultMap="com.example.mapper.MailContentMapper.baseResultMap" />
        <association column="t_mail_send_user_id" property="sendUser" resultMap="sendUserResultMap" />
        <collection column="t_mail_to_user_id" property="toUsers" resultMap="toUserResultMap" />
        <collection column="t_mail_id" property="attachments" resultMap="com.example.mapper.AttachmentMapper.baseResultMap" />
    </resultMap>

    <select id="customSelectPage" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.example.mapper.MailContentMapper.baseCol" />,
               <include refid="sendUserCol" />,
               t_mail_to_users.info t_mail_to_users_info
        from t_mail t_mail
        left join t_mail_content t_mail_content on t_mail_content.mail_id = t_mail.id
        left join t_user send_user on send_user.id = t_mail.send_user_id
        left join t_mail_to_users t_mail_to_users on t_mail_to_users.mail_id = t_mail.id
        <where>
            <if test=" params.entity.toUsersInfo != null and params.entity.toUsersInfo != ''.toString() ">
                and instr(t_mail_to_users.info, #{params.entity.toUsersInfo}) > 0
            </if>
            <if test=" params.entity.mailSubject != null and params.entity.mailSubject != ''.toString() ">
                and instr(t_mail.mail_subject, #{params.entity.mailSubject}) > 0
            </if>
            <if test=" params.entity.mailType != null and params.entity.mailType != ''.toString() ">
                and t_mail.mail_type = #{params.entity.mailType}
            </if>
            <if test=" params.entity.mailStatus != null and params.entity.mailStatus != ''.toString() ">
                and t_mail.mail_status = #{params.entity.mailStatus}
            </if>
            <if test=" params.entity.sendUserId != null ">
                and t_mail.send_user_id = #{params.entity.sendUserId}
            </if>
            <if test=" params.map.timeCol != null and params.map.timeCol != ''.toString() ">
                <if test=" params.map.startTime != null ">
                    and ${params.map.timeCol} >= #{params.map.startTime}
                </if>
                <if test=" params.map.endTime != null ">
                    and ${params.map.timeCol} &lt; #{params.map.endTime}
                </if>
            </if>
        </where>
        order by t_mail.create_time desc
    </select>

    <select id="customSelectList" parameterType="com.example.params.Params" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.example.mapper.MailContentMapper.baseCol" />,
               <include refid="sendUserCol" />,
               t_mail_to_users.info t_mail_to_users_info
        from t_mail t_mail
        left join t_mail_content t_mail_content on t_mail_content.mail_id = t_mail.id
        left join t_user send_user on send_user.id = t_mail.send_user_id
        left join t_mail_to_users t_mail_to_users on t_mail_to_users.mail_id = t_mail.id
        <where>
            <if test=" params.entity.toUsersInfo != null and params.entity.toUsersInfo != ''.toString() ">
                and instr(t_mail_to_users.info, #{params.entity.toUsersInfo}) > 0
            </if>
            <if test=" params.entity.mailSubject != null and params.entity.mailSubject != ''.toString() ">
                and instr(t_mail.mail_subject, #{params.entity.mailSubject}) > 0
            </if>
            <if test=" params.entity.mailType != null and params.entity.mailType != ''.toString() ">
                and t_mail.mail_type = #{params.entity.mailType}
            </if>
            <if test=" params.entity.mailStatus != null and params.entity.mailStatus != ''.toString() ">
                and t_mail.mail_status = #{params.entity.mailStatus}
            </if>
            <if test=" params.entity.sendUserId != null ">
                and t_mail.send_user_id = #{params.entity.sendUserId}
            </if>
            <if test=" params.map.timeCol != null and params.map.timeCol != ''.toString() ">
                <if test=" params.map.startTime != null ">
                    and ${params.map.timeCol} >= #{params.map.startTime}
                </if>
                <if test=" params.map.endTime != null ">
                    and ${params.map.timeCol} &lt; #{params.map.endTime}
                </if>
            </if>
        </where>
        order by t_mail.create_time desc
    </select>

    <select id="customSelectById" parameterType="int" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.example.mapper.MailContentMapper.baseCol" />,
               <include refid="sendUserCol" />,
               <include refid="toUserCol" />,
               <include refid="com.example.mapper.AttachmentMapper.baseCol" />
        from t_mail t_mail
        left join t_mail_content t_mail_content on t_mail_content.mail_id = t_mail.id
        left join t_user send_user on send_user.id = t_mail.send_user_id
        left join t_mail_to_user_link t_mail_to_user_link on t_mail_to_user_link.mail_id = t_mail.id
        left join t_user to_user on to_user.id = t_mail_to_user_link.to_user_id
        left join t_mail_attachment_link t_mail_attachment_link on t_mail_attachment_link.mail_id = t_mail.id
        left join t_attachment t_attachment on t_attachment.id = t_mail_attachment_link.attachment_id
        where t_mail.id = #{id}
    </select>

</mapper>
