<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.ResourceMapper">

    <sql id="baseCol">
        t_resource.id t_resource_id, t_resource.resource_pattern t_resource_resource_pattern, t_resource.resource_method t_resource_resource_method,
        t_resource.resource_desc t_resource_resource_desc
    </sql>

    <resultMap id="baseResultMap" type="com.example.model.po.Resource">
        <id column="t_resource_id" property="id" />
        <result column="t_resource_resource_pattern" property="resourcePattern" />
        <result column="t_resource_resource_method" property="resourceMethod" />
        <result column="t_resource_resource_desc" property="resourceDesc" />
    </resultMap>

</mapper>
