<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xzixi.demo.mapper.RoleMapper">

    <sql id="baseCol">
        t_role.id t_role_id, t_role.role_name t_role_role_name, t_role.role_desc t_role_role_desc, t_role.role_seq t_role_role_seq,
        t_role.is_default t_role_is_default
    </sql>

    <resultMap id="baseResultMap" type="com.xzixi.demo.model.po.Role">
        <id column="t_role_id" property="id" />
        <result column="t_role_role_name" property="roleName" />
        <result column="t_role_role_desc" property="roleDesc" />
        <result column="t_role_role_seq" property="roleSeq" />
        <result column="t_role_is_default" property="isDefault" />
    </resultMap>

    <resultMap id="resultMap" type="com.xzixi.demo.model.po.Role" extends="baseResultMap">
        <collection column="t_role_id" property="resources" resultMap="com.xzixi.demo.mapper.ResourceMapper.baseResultMap" />
    </resultMap>

    <select id="customSelectList" parameterType="com.xzixi.demo.params.Params" resultMap="baseResultMap">
        select <include refid="baseCol" />
        from t_role t_role
        left join t_role_resources_info t_role_info on t_role_info.id = t_role.id
        <where>
            <if test=" params.entity.roleName != null and params.entity.roleName != ''.toString() ">
                and instr(t_role.role_name, #{params.entity.roleName}) > 0
            </if>
            <if test=" params.entity.roleDesc != null and params.entity.roleDesc != ''.toString() ">
                and instr(t_role.role_desc, #{params.entity.roleDesc}) > 0
            </if>
            <if test=" params.entity.resourcesInfo != null and params.entity.resourcesInfo != ''.toString() ">
                and instr(t_role_info.resources_info, #{params.entity.resourcesInfo}) > 0
            </if>
            <if test=" params.entity.isDefault != null ">
                and t_role.is_default = #{params.entity.isDefault}
            </if>
        </where>
        order by t_role.role_seq
    </select>

    <select id="customSelectPage" resultMap="baseResultMap">
        select <include refid="baseCol" />
        from t_role t_role
        left join t_role_resources_info t_role_info on t_role_info.id = t_role.id
        <where>
            <if test=" params.entity.roleName != null and params.entity.roleName != ''.toString() ">
                and instr(t_role.role_name, #{params.entity.roleName}) > 0
            </if>
            <if test=" params.entity.roleDesc != null and params.entity.roleDesc != ''.toString() ">
                and instr(t_role.role_desc, #{params.entity.roleDesc}) > 0
            </if>
            <if test=" params.entity.resourcesInfo != null and params.entity.resourcesInfo != ''.toString() ">
                and instr(t_role_info.resources_info, #{params.entity.resourcesInfo}) > 0
            </if>
            <if test=" params.entity.isDefault != null ">
                and t_role.is_default = #{params.entity.isDefault}
            </if>
        </where>
        order by t_role.role_seq
    </select>

    <select id="customSelectById" parameterType="int" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.xzixi.demo.mapper.ResourceMapper.baseCol" />
        from t_role t_role
        left join t_role_resource_link t_role_resource_link on t_role.id = t_role_resource_link.role_id
        left join t_resource t_resource on t_role_resource_link.resource_id = t_resource.id
        where t_role.id = #{id}
        order by t_resource.resource_seq
    </select>

    <select id="customSelectOne" parameterType="int" resultMap="resultMap">
        select <include refid="baseCol" />,
               <include refid="com.xzixi.demo.mapper.ResourceMapper.baseCol" />
        from t_role t_role
        left join t_role_resource_link t_role_resource_link on t_role.id = t_role_resource_link.role_id
        left join t_resource t_resource on t_role_resource_link.resource_id = t_resource.id
        <where>
            <if test=" params.entity.roleName != null and params.entity.roleName != ''.toString() ">
                and t_role.role_name = #{params.entity.roleName}
            </if>
        </where>
        order by t_resource.resource_seq
    </select>

</mapper>
